@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #E9F0F8 !important;
  margin: 0px !important;
  padding: 0px !important;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url(../assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(../assets/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: 'Gilroy-MediumItalic';
  src: url(../assets/fonts/Gilroy-MediumItalic.ttf);
}

@font-face {
  font-family: 'Gilroy-SemiBoldItalic';
  src: url(../assets/fonts/Gilroy-SemiBoldItalic.ttf);
}

@font-face {
  font-family: 'Gilroy-HeavyItalic';
  src: url(../assets/fonts/Gilroy-HeavyItalic.ttf);
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(../assets/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url(../assets/fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url(../assets/fonts/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url(../assets/fonts/Gilroy-Black.ttf);
}

/* ///..Primary Font-family../ */

.primary-font-regular {
  font-family: 'Gilroy-Regular' !important;
  font-weight: 400 !important;
}

.primary-font-regular-italic {
  font-family: 'Gilroy-MediumItalic' !important;
  font-weight: 400 !important;
}

.primary-font-semi-bold-italic {
  font-family: 'Gilroy-SemiBoldItalic' !important;
  font-weight: 600 !important;
}

.primary-font-BoldItalic {
  font-family: 'Gilroy-HeavyItalic' !important;
  font-weight: 600 !important;
}
.glroy-bold{
  font-family: 'Gilroy-Bold' !important;
  font-weight: 700 !important;
}

.primary-font-bold {
  font-family: 'Gilroy-Bold' !important;
  font-weight: 400 !important;
}

.primary-font-medium {
  font-family: 'Gilroy-Medium' !important;
  font-weight: 500 !important;
}

.primary-font-semibold {
  font-family: 'Gilroy-SemiBold' !important;
  font-weight: 600 !important;
}

.primary-font-extraBold {
  font-family: 'Gilroy-ExtraBold' !important;
  font-weight: 700 !important;
}

.primary-font-Black {
  font-family: 'Gilroy-Black' !important;
  font-weight: 900 !important;
}


.css-1ydjfm6[data-checked]{
  background: linear-gradient(244deg, #192837 4.52%, #274D5C 83.76%) !important;
  border-color:  #192837 !important;
}

#img_col{
  padding: 0px !important;
}
.text-center{
  display: flex;
  justify-content: center;

}
.css-1al47nc{
  height: 80px;
}
.pag-button{
      cursor: pointer;
    width: 50px;
    margin: 6px;
}
.css-xumdn4{
  border-bottom: none !important;
  text-align: center !important;
  padding: 0px  !important;
}
::-webkit-scrollbar {
  width: 0px !important;
}
.active-tab{
  background: #e9f0f8;
    margin-top: 15px;
    height: 40px;
    font-size: 14px;
    color: #E69066 !important;
    transition: 0.3s ease-in-out;
    padding: 0.1px 10px;
    border-radius: 8px 0px 0px 8px;
}
.inactive-tab{
    margin-top: 10px;
    padding: 10px 10px;
    transition: 0.3s ease-in-out;
    color: #12171E66 !important;
    font-size: 14px;

}
.css-su3j11{
  text-transform: capitalize !important;
  width: auto;
}
.css-1zts0j{
  text-align: center !important;
  text-transform: capitalize !important;
}
.css-1xc3v61-indicatorContainer:hover{
      background: #ff8a43;
    color: #fff;
    border-radius: 7px;
    margin-left: -1px;
    transform: rotate(270deg);
}
.small-table-text{
  font-size: 11px !important;
  font-family: 'Gilroy-Medium' !important;
  text-transform: capitalize !important;
  padding: 5px 0px !important;
}
.small-table-text1{
  font-size: 11px !important;
  padding: 5px 0px !important;
  font-family: 'Gilroy-Medium' !important;
color: rgba(18, 23, 30, 0.60);
}
.slick-slider{
  margin: 0px 25px !important;
}
.slick-next, .slick-prev{
  width: auto !important;
  height: auto !important;
}
.slick-next:before {
  content: url(/images/next-2.png) !important;
  font-size: 20px;
  border-radius: 100%;
  box-shadow: none !important;
}
.slick-prev:before {
  content: url(/images/prev-2.png) !important;
  font-size: 20px;
  border-radius: 100%;
  box-shadow: none !important;
}

.slick-next {
    right: -35px !important;
    top: 61% !important; 
}
.slick-prev {
    left: -30px !important;
    top: 55% !important; 
}
.pagination-tag1 {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  margin-top: 8px;
  justify-content: center;
  padding-top: 2px;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 9px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-tag1.current {
  background-color: #2F80ED;
  color: white;
}

.rw-input {
  border: none !important;
  height: 40px;
  outline: none !important;
}
.rw-input:focus {
  border: none !important;
  outline: none !important;
}

 .rw-input-addon,
 .rw-input-addon.rw-picker-btn {
  border: none !important;
  background: url("/images/calendar.png") no-repeat center center;

  top: 10px !important;
  right: 16px !important;
  height: 40px;
  position: relative;
  background-size: cover;
  width: 25px;
  border-radius: 3px;
  height: 21px;
}
svg.rw-i-calendar {
  color: #64646c !important;
  opacity: 0;
}
.rw-cell.rw-state-selected {
  background-color: #ff8a43;
  border-color: #ff8a43;
  border-radius: 100px;
  height: 37px;
  color: #fff;
}
.rw-calendar-btn-view {
  color: #ff8a43 !important;
}
.rw-calendar-btn {
  color: #ff8a43 !important;
}
.css-1l8lkvs{
  text-transform: capitalize !important;
}
.order-list-th{
  font-size: 15px;
  font-family: 'Gilroy-SemiBold' !important;
  color: #41454B;
  border-bottom: 1px solid rgba(65, 69, 75, 1);
}
.flag-dropdown {
  background-color: #fff !important;
  border: none;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}